* {
  margin: 0;
}
body {
  height: auto;
  background-color: #222831;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#img-container {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
#img-container img {
  width: 200px;
  border-radius: 10px;
}
#movie {
  background-color: #393e46;

  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  gap: 20px;
}

.details {
  width: 150px;
  height: 100%;
  position: relative;
  flex-direction: column;
}
.details span {
  text-transform: uppercase;
  color: #00adb5;
}
.details div {
  position: absolute;
  bottom: 50px;
}
.details h2 {
  margin-top: 20px;
}
.details div p {
  margin-top: 10px;
}
.detail-btn {
  border: none;
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: #872341;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  transition: 0.4s;
}
.detail-btn:hover {
  transform: scale(1.2);
  transition: 0.4s;
  background-color: #872341;
}
.info {
  display: none;
  color: white;
  margin: 5% auto;
  width: 90%;
  height: 60vh;
  padding: 30px;
  background-color: #393e46;
  border: 1px solid white;
  border-radius: 10px;
}
.info img {
  width: 450px;
  height: 100%;
  border-radius: 10px;
}
.movie-details {
  display: grid;
  grid-template-columns: 120px auto; /* Adjust column sizes */
  padding-left: 6%;
  font-family: Arial, sans-serif;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation button {
  width: 100px;
  color: white;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  background-color: #00adb5;
}
.navigation button:hover {
  color: white;

  background-color: #00adb5;
}
.pagenumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagenumbers button {
  width: 50px;
  height: 50px;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: #00adb5;

  margin: 5px;
  transition: 0.4s;

  color: white;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
  width: 100px;
  background-color: #44eeaa;
}

.pagenumbers button.active {
  background-color: #44eeaa;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}
