* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  height: auto;
  background-color: #222831;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.backgroundIMG {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
  filter: blur(3px);
  background-image: url("assets/background.jpg");
  background-size: cover;
}
.nav {
  display: flex;
  justify-content: center;
  background-color: #393e46;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-around;
}
.searchForm {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchForm input {
  width: 40%;
  height: 70px;
  font-size: 20px;
  padding: 0 30px;
  border: none;
  outline: none;
  border-radius: 20px;
}

ul {
  padding: 0;
  list-style: none;
  padding: 0 1%;
}
ul li {
  display: inline-block;
  position: relative;
  border: none;
  background-color: #00adb5;
  color: white;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
}
ul li p {
  height: 50px;
  padding: 0 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
ul li ul.dropdown li {
  display: block;
  font-size: 20px;

  padding: 10px;
}
ul li ul.dropdown {
  position: absolute;
  display: none;
}

ul li:hover ul.dropdown {
  transition: 0.5s;

  display: block;
  width: 100%;

  text-align: center;
}
ul li ul.dropdown li:hover {
  transition: 0.5s;

  background-color: #44eeaa;
}
.trending {
  text-shadow: 1px 1px 5px black;
  margin: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #00adb5;
}
.searchForm button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  transition: 0.2s;
}
.searchForm button img {
  transition: 0.2s;
  width: 40px;
}
.searchForm button img:hover {
  transition: 0.2s;
  width: 50px;
}
.nav img {
  width: 150px;
  cursor: pointer;
}
#movieDisplay {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
#movieDisplay img {
  width: 200px;
  border-radius: 10px;
}
#movie {
  background-color: #393e46;

  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  gap: 20px;
}

.details {
  width: 150px;
  height: 100%;
  position: relative;
  flex-direction: column;
}
.details span {
  text-transform: uppercase;
  color: #00adb5;
}
.details div {
  position: absolute;
  bottom: 50px;
}
.details h2 {
  margin-top: 20px;
}
.details div p {
  margin-top: 10px;
}
.detail-btn {
  border: none;
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: #872341;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  transition: 0.4s;
}
.detail-btn:hover {
  transform: scale(1.2);
  transition: 0.4s;
  background-color: #872341;
}
.info {
  display: none;
  color: white;
  margin: 5% auto;
  width: 90%;
  height: 60vh;
  padding: 30px;
  background-color: #393e46;
  border: 1px solid white;
  border-radius: 10px;
}
.info img {
  width: 450px;
  height: 100%;
  border-radius: 10px;
}
.movie-details {
  display: grid;
  grid-template-columns: 120px auto; /* Adjust column sizes */
  padding-left: 6%;
  font-family: Arial, sans-serif;
}

.navigation {
  display: flex;
  justify-content: center;
}
#prevoius {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation button {
  width: 100px;
  color: white;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  background-color: #00adb5;
}
.navigation button:hover {
  color: white;

  background-color: #00adb5;
}
.pagenumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagenumbers button {
  width: 50px;
  height: 50px;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: #00adb5;

  margin: 5px;
  transition: 0.4s;

  color: white;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
  width: 100px;
  background-color: #44eeaa;
}

.pagenumbers button.active {
  background-color: #44eeaa;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}
#searchBtnResponsive {
  display: none;
}
@media (max-width: 360px) {
}
@media (max-width: 575px) {
  .nav {
    justify-content: center;
  }
  #movie {
    display: flex;
    flex-direction: column;
  }
  #movie img {
    width: 100%;
  }
  .details div {
    position: static;
  }
  .detail-btn {
    position: static;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .trending {
    font-size: 35px;
  }
  .navigation button {
    margin: 0;
    font-size: 15px;
    height: 40px;
  }
  #prevoius {
    width: 12%;
    font-size: 10px;
    border-radius: 10px 0 0 10px;
  }
  #next {
    width: 10%;
    font-size: 10px;
    border-radius: 0px 10px 10px 0px;
  }
  .searchForm button {
    font-size: 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 830px) {
  /* Styles for tablets */
  .info img {
    width: 50%;
    height: auto;
    margin: 50px;
  }
  .info {
    font-size: 15px;
    align-items: center;
    padding: 10px;
    height: 100%;
    flex-direction: column;
  }
  .info p {
    margin-top: 20px;
  }
  .movie-details {
    padding-bottom: 30px;
  }
}
